.card-colum-3 {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 2rem;
}

.card {
    background-color: white;
    box-shadow: 0 3px 9px rgba(0, 0, 0, 0.2), 0 14px 0 -7px #fff, 0 14px 9px -6px rgba(0, 0, 0, 0.2),
        0 25px 0 -12px #fff, 0 25px 9px -11px rgba(0, 0, 0, 0.2);
    border-radius: 5px;
    overflow: hidden;
    /* width: 350px; */
    margin: 20px;
    transition: box-shadow 0.3s linear;
}

.card:hover {
    box-shadow: 0 5px 30px rgba(0, 0, 0, 0.2), 0 16px 0 -9px #fff, 0 16px 30px -8px rgba(0, 0, 0, 0.2),
        0 27px 0 -14px #fff, 0 27px 30px -13px rgba(0, 0, 0, 0.2);
}

.card__header {
    padding: 20px;
    position: relative;
}
.card__aside figure {
    height: 100%;
    overflow: hidden;
}
.card__img {
    transition: all 0.3s ease-in-out;
    width: 100%;
    object-fit: cover;
    height: 100%;
}
.card__img:hover {
    transform: scale(1.2);
}
.card__aside {
    height: 300px;
}
.card__header {
    text-align: left;
}
.card__header .card__title {
    margin-bottom: 0;
}
.card__title a {
    text-decoration: none;
    color: var(--color3);
}
.tag {
    font-weight: 600;
    margin-right: 5px;
    line-height: 18px;
    color: #4c5866;
    font-size: 14px;
}
.card.card-a .card__aside {
    overflow: hidden;
    position: relative;
}
.card.card-a .card__img {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    transform: scale(1) translateY(0);
    transition: transform 2s ease-in-out;
    width: 100%;
    height: auto;
}
.card.card-a .card__img:hover {
    transform: scale(1.2) translateY(calc((100% - 300px) * -1));
    transition: transform 8s ease-in-out;
}

/* < col-md | Medium and down */
@media (max-width: 991px) {
}
/* == col-sm Small only col-sm */
@media (max-width: 768px) {
    .card-colum-3 {
        grid-template-columns: repeat(2, 1fr);
    }
}

/* < col-xs | xs and down */
@media (max-width: 500px) {
    .card-colum-3 {
        grid-template-columns: repeat(1, 1fr);
    }
}
